h1,h2,h3 {
  font-family: 'Montserrat';
}

h3{
  font-size: 16px;
  font-weight: 300;
}

.container{
  width: 500px;
  margin: 30px auto;
}

.image-circle{
  border-radius: 50%;
}

#image-profile{
  width: 200px;
  height: 200px;
  border: 3px solid #cccccc;
}

.text-center{
  text-align: center;
}

.card{
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}

.btn-red{
  background-color: #DD5555;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}

body{
  background: #EBEBEB;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}

p{
  text-align: justify;
}

.list-inline{
  padding-left: 0;
}

li{
  display: inline-block;
  padding: 20px;
}

#sports{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

a{
  color: #ccc;
  text-decoration: none;
}

.btn-red: hover{
  background-color: #C61414;
  color: white;
}

a:hover{
  color: #DD5555;
  text-decoration: none;
}

i{
  font-size: 25px;
}


